body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    background-color: rgb(23, 3, 3);
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0; 
}
